USE_LOCAL_CIRCUITS=false
LOCAL_CIRCUITS_PATH=
CIRCOM_BIN_PATH=

USE_RAPIDSNARK=false
RAPIDSNARK_MODE=local
RAPIDSNARK_BIN_PATH=
RAPIDSNARK_SERVER_URL=http://localhost:8080
RAPIDSNARK_CIRCUIT=02x03
DEBUG_TIMING=true